<<template>
    <h1>About Page</h1>
    <hr>
    <h2>{{ name }}</h2>
    <button @click="onChangeName">
        Cambiar Nombre
    </button>
</template>

<script>
export default{
    data(){
        return {
            name: 'Fernando' //reactivo
        }   
    },

    methods:{
        onChangeName(){
            console.log('se cambiará el nombre a Melissa');
            this.name = 'Melissa'
        }
    },

    /**
     *  hooks del ciclo de vida
     */ 
    beforeCreate() {
        /** 
        * el componente no se crea aún y no se crea data() aún
        **/
        console.log('beforeCreate');
    },
    created(){
        /** 
        * el componente y el data() se crean
        * ideal para peticiones http
        */
        console.log('created');
    },
    beforeMount() {
        console.log('beforeMount');
    },
    mounted() {
        console.log('mounted');
    },
    beforeUpdate() {
        console.log('beforeUpdate');
    },
    updated() {
        console.log('updated');
    },
    activated() {
        console.log('activated');
    },
    deactivated() {
        console.log('deactivated');
    },
    beforeUnmount() {
        console.log('beforeUnmount');
    },
    unmounted() {
        /** 
        * para hacer una limpieza este es el lugar correcto
        */
        console.log('unmounted');
    },
    errorCaptured() {
        console.log('errorCaptured');
    },
    renderTracked() {
        console.log('renderTracked');
    },
    renderTriggered() {
        console.log('renderTriggered');
    }    
}

</script>