<template>
  <div class="about">
    <h1>{{ title }}</h1>
    <button @click="changeTitle">cambiar titulo</button>
  </div>
</template>

<script>
/* eslint-disable*/

import { 
    ref, 
    onMounted,
    onUpdated,
    onUnmounted,
    onBeforeMount,
    onBeforeUpdate,
    onBeforeUnmount,
    onErrorCaptured,
    onRenderTracked,
    onRenderTriggered,
    onActivated,
    onDeactivated,
    onServerPrefetch 
  } from 'vue'

export default {
  setup() {
    
    console.log('Setup es ejecutado')

    const title = ref('About')

    onMounted( () => {
      console.log('onMounted')

    })

    onUpdated(() => {
      console.log('onUpdated')
      
    })

    onUnmounted(() => {
      console.log('onUnmounted')
      
    })

    onBeforeMount(() => {
      console.log('onBeforeMount')
      
    })

    onBeforeUpdate(() => {
      console.log('onBeforeUpdate')
      
    })

    onBeforeUnmount(() => {
      console.log('onBeforeUnmount')
      
    })

    onErrorCaptured(()  => {
      console.log('onErrorCaptured')
      
    })

    onRenderTracked(() => {
      console.log('onRenderTracked')
      
    })

    onRenderTriggered(() => {
      console.log('onRenderTriggered')
      
    })

    // el componente se activa
    onActivated(() => {
      console.log('onActivated')
      
    })

    // el componente se desactiva
    onDeactivated(() => {
      console.log('onDeactivated')
      
    })

    onServerPrefetch(() => {
      console.log('onServerPrefetch')
      
    })

    return {
      title,
      changeTitle: () => {
        title.value = 'New About'
      }
    }


  },
}
</script>
