/* eslint-disable */
<template lang="">
    <h1>Counter view</h1>
    <h2>{{ counter }}</h2>
    
    <button @click="increase">+1</button>
    <button @click="decrease">-1</button>

</template>

<script>
/* eslint-disable */

import useCounter from '@/composables/useCounter'



export default {
    name: 'Counter',
    props: {},
    emits: [],
        
    setup (){

        //desestructuramos
        const { counter,increase,decrease } = useCounter(25)

        return{
            counter,
            increase,
            decrease
        }
    }
}
</script>

<style lang="">
    /*eslint-disable*/
    

</style>