<template lang="">
    <h1>
        Aprendiendo Slots
    </h1>
    <button @click="openModal">Abrir Modal</button>

    <modal 
        v-if="isOpen"
        title="Hola mundo"
        otherTitle="otro titulo"
        @on:close="closeModal"
    >
        <!-- <h2>Titulo del modal</h2>
        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
        <button>Salir</button> -->
        <template v-slot:body>
            <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
        </template>

        <template v-slot:footer>
            <button @click="closeModal">Salir</button>
        </template>

        <template v-slot:header>
            <h2>Titulo del modal</h2>
        </template>

        <!-- 'slotProps' son los atributos html que el slot cuyo nombre es 'exposed' del componente hijo (modal) está exponiendo -->
        <!-- Se podría desestructurar 'slotProps' en {newTitle , hola} y usar cada parte en el template -->
        <template v-slot:exposed="slotProps">
            <h2>{{ slotProps }}</h2>
            <!-- 
                <h2>{{ newTitle }}</h2>
                <h2>{{ hola }}</h2> 
            -->
        </template>

    </modal>

</template>

<script>
/* eslint-disable */
import Modal from "../components/Modal.vue"
import { ref } from "vue"


export default {
    
    components : { Modal },
    setup(){

        const isOpen = ref(false)

        return{
            isOpen,

            openModal: () => isOpen.value = true,
            closeModal: () => isOpen.value = false

        }

    }


}
</script>

<style scoped>
    
</style>