<template>
  <div class="home">
    <h1>Reactive vs Ref</h1>
    <h3>  {{ ironman }}</h3>
    <h3>  {{ hulk }}</h3>


    <button @click="changeIronman">Cambiar Ironman</button>
    <button @click="changeHulk">Cambiar Hulk</button>


    <h3>Ironman: {{ ironmanIsAlive }}</h3>
    <h3>Hulk: {{ hulkIsAlive }}</h3>

    <button @click="changeStatus">Cambiar status</button>


  </div>
</template>

<script>
/* eslint-disable */

import {ref, reactive} from 'vue'




export default {
  name: 'HomeView',

  setup(){

    const ironman = ref( { name: 'Tony', edad : 50 } )

    //reactive SOLO funciona con objetos js (con primitivos int, string, boolean, etc no  funciona)
    const hulk = reactive( { name: 'Bruce', edad : 50 } ) 

    const ironmanIsAlive = reactive(false)
    const hulkIsAlive = ref(true)


    const changeStatus = () => {

      hulkIsAlive.value = !hulkIsAlive.value

    }


    return{
      ironman, 
      hulk,

      ironmanIsAlive,
      hulkIsAlive,


      changeStatus, 
      changeIronman: () => {
        //por usar el 'ref' tenemos que poner el '.value' para acceder al objeto
        ironman.value.name = 'Tony Stark'
        ironman.value.edad = 55
      }, 
      changeHulk: () => {
        //aqui no hace falta el value
        hulk.name = 'Bruce Banner'
        hulk.edad = 45

      }
    }

  }

}
</script>
