<!-- eslint-disable   -->
<template >
    <h1 v-if="!pokemon && !errorMessage">Buscando...</h1>
    <h1 v-else-if="errorMessage">{{ errorMessage }}</h1>
    <template v-else>
        <h3>{{ pokemon.name }}</h3>
        <img :src="pokemon.sprites.front_default" alt="{{ pokemon.name }}">
        <br>
        <router-link :to="{ name : 'pokemon-search' }">Regresar</router-link>
    </template>


</template>

<script>
/* eslint-disable */

//useRoute es un composable para la ruta (params. http, etc)
import { useRoute, onBeforeRouteLeave } from "vue-router"


import usePokemon from "@/composables/usePokemon" 

import { watch } from "vue"


export default {
    
    setup(){

        const route = useRoute()

        //console.log(route.params)

        const { pokemon, isLoading, errorMessage, searchPokemon } = usePokemon(route.params.id)

        //estamos pendientes del valor de 'route.params.id'
        watch(
            () => route.params.id, //cuando cambie  el valor de 'route.params.id'
            //( value, prevValue ) => {
                //console.log('value', value, 'prevValue', prevValue)
            //}
            () => {
                //cuando el id cambia , tenemos que volver a disparar la llamada al api de los pokemon
                searchPokemon(route.params.id)
            }
        )

        onBeforeRouteLeave( () => {

            const answer = window.confirm('¿Está seguro de salir?')

            if (!answer){
                return false //bloquea la salida
            }
        } )

        return{
            pokemon, 
            isLoading, 
            errorMessage
        }
    }


}
</script>


