<template lang="">
    <h1>Buscar pokemon: {{ pokemonId }} </h1>
    <form @submit.prevent="onSubmit">
        <input 
            type="number"
            placeholder="Número del pokemon"
            v-model="pokemonId"
            ref="txtSearchId"
        >
        
    </form>
    <br>
    <span>Presione enter para buscar</span>
</template>

<script>
/* eslint-disable */

import { ref, onActivated } from 'vue'

//useRouter es un composable para la navegacion
import { useRouter } from "vue-router";


export default {

    setup(){

        const router = useRouter()


        const pokemonId = ref(1)

        const txtSearchId = ref()

        //coomo no se destrutye, no usamos el onMounted
        onActivated(() => {
            txtSearchId.value.select()
        })

        return{

            pokemonId,
            txtSearchId,

            onSubmit: () => {
                //console.log('pokemon a buscar', pokemonId.value)

                router.push({ name: 'pokemon-id', params: { id : pokemonId.value } })

            }

        }

    }

    
}
</script>
