<!--  eslint-disable -->
<template lang="">
    <h1>
       Thanos TODO list 
    </h1>

    <!--<h4>Tareas Pendientes: {{ $store.state.todos.filter(t => !t.completed).length }}</h4>-->
    <h4>Tareas Pendientes: {{ pending.length }}</h4>
    <hr>
    <!-- la clase es 'active' solo si 'currentTab' === 'all' -->
    <button 
        :class="{ 'active' : currentTab === 'all' }"
        @click="currentTab = 'all' "
    >
        Todos
    </button> 

    <!-- la clase es 'active' solo si 'currentTab' === 'pending' -->
    <button 
        :class="{ 'active' : currentTab === 'pending' }"
        @click="currentTab = 'pending' "
    >
        Pendientes
    </button>

    <!-- la clase es 'active' solo si 'currentTab' === 'completed' -->
    <button 
        :class="{ 'active' : currentTab === 'completed' }"
        @click="currentTab = 'completed' "
    >
        Completados
    </button>

    <div>
        <ul>
            <li v-for="todo in getTodosByTab" 
                :key="todo.id"
                :class="{ 'completed' : todo.completed }"
                @dblclick="toggleTodo( todo.id )"
            > <!-- la clase es 'completed' solo si 'todo.completed' es true -->
                {{ todo.text }}
            </li>
        </ul>
    </div>

    <button @click="isOpen = true">Crear Todo</button>

    <modal 
        v-if="isOpen"
        @on:close="isOpen = false"
    >
        <template v-slot:header>
            <h1>Nueva tarea</h1>
        </template>

        <template v-slot:body>
            <form @submit.prevent="createTodo(newTodoText); isOpen=false"
                >
                <input 
                    type="text"
                    placeholder="Nueva tarea"
                    v-model="newTodoText"
                >
                <br>
                <br>
                <button type="submit">Crear</button>
            </form>
        </template>
    </modal>

</template>

<script>
/* eslint-disable */

import useTodos from "../composables/useTodos"
import Modal from "../components/Modal.vue"
import { ref } from "vue"

export default {

    components : { Modal },
    setup() {
       

        const { pending, currentTab, getTodosByTab, toggleTodo, createTodo } =  useTodos()

        const ff = () => {
            console.log('patata')
        }


        return{
            ff, 
            pending,
            currentTab,
            getTodosByTab,
            toggleTodo,
            createTodo,


            isOpen: ref(false),
            newTodoText: ref('')
        }

    }
    
}
</script>

<style scoped>
    /* eslint-disable */

    div{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    ul {
        width: 300px;
        text-align: left;
    }

    li{
        cursor: pointer;
    }

    .active{
        background-color: #2c3e50;
        color: white;
    }

    .completed{
        text-decoration : line-through;
    }




</style>