<template>
    <div class="pokemon-layout">
        <h1>Pokemon Layout</h1>
        <!-- segundo router view (el primero está en App.vue ) que indica q este componente puede tener rutas hijas-->
        <router-view></router-view>
    </div>
</template>

<!-- <script>
export default {
    
}
</script> -->

<style scoped>

.pokemon-layout{
    background-color: deeppink;
}
    
</style>