<template lang="">
    <h1 v-if="!pokemon">Espere por favor...</h1> 
    <div v-else="pokemon">
        <h1>¿Quién es este pokemon?</h1>

        <PokemonPicture
          :pokemonId="pokemon.id"
          :showPokemon="showPokemon" 
        />

        <!-- escuchamos/capturamos el custom event 'selection' emitido x el componente 'PokemonOptions', y  
        que cuando lo reciba, llame al metodo 'checkAnswer'y le pasamos como argumento el valor emitido  -->
        <PokemonOptions
          :pokemons="pokemonArr"
          @selection-pokemon="checkAnswer($event)" 
        />

        <!-- template agrupa pero no agrega al dom un < div > padre a los elementos -->
        <template v-if="showAnswer">
            <h2 class="fade-in">  {{message}} </h2>
            <button @click="newGame">
                Nuevo Juego
            </button>
        </template>


    </div>

</template>
<script>

import PokemonOptions from '@/components/PokemonOptions.vue'
import PokemonPicture from '@/components/PokemonPicture.vue'

import getPokemonOptions from '@/helpers/getPokemonOptions'

//console.log( getPokemonOptions() )

export default {
    components: {
        PokemonOptions, PokemonPicture
    },
    data(){
        return {
            pokemonArr : [],
            pokemon : null,
            showPokemon: false,
            showAnswer: false,
            message: ''
        }
    },
    methods: {
        async mixPokemonArray() {
            this.pokemonArr = await getPokemonOptions()
            //console.log(this.pokemonArr);

            const rndInt = Math.floor( Math.random() * 4 )

            this.pokemon = this.pokemonArr[rndInt]
        },
        checkAnswer(selectedId){
            
            this.showPokemon = true      
            this.showAnswer = true

            if (this.pokemon.id === selectedId){
                this.message = `Correcto, ${this.pokemon.name}`
            }else{
                this.message = `Oops era ${this.pokemon.name}`
            }
        },
        newGame(){
            //reseteamos
            this.showPokemon = false
            this.showAnswer = false
            this.pokemonArr = []
            this.pokemon = null

            //volvemos a construir
            this.mixPokemonArray()
        }
    },
    mounted(){
        this.mixPokemonArray()
    }
    
}
</script>
