<template >
    <!-- 'click.self' es un modificador de evento que indica que el evento SOLO se aplica al elemento pero no a sus hijos -->
    <div 
        class="modal-background fade-in"
        @click.self="$emit('on:close')"
    >
        
        <div class="modal-container">

            {{ newTitle }}

            <slot name="header" />
            <slot name="body" />
            <slot name="footer" />
            <!--'newTitle' hace referencia a la prop 'title' de este componente q a su vez referencia al atributo 'title' del componente 'modal' usado en 'CustomSlotsView.vue'  -->
            <slot name="exposed" :newTitle="newTitle" hola="mundo"></slot>


            

        </div>



    </div>



</template>

<script>
/* eslint-disable */
export default {
    //para que el valor aparezca en las 'props' del componente, debe estar definido en 'props'. EOC todos 
    //los atributos aoarecen 'attrs'  dentro del context
    props: ['title'],
    emits : ['on:close'],
    setup( props, context ){

        console.log({ props, context })

        return{
            newTitle: props.title?.toUpperCase()
            

        }
    }
}
</script>

<style scoped>
/* eslint-disable */
    
    .modal-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;

        display: flex;
        background-color: rgba(0, 0, 0, 0.5);
        align-items: center;
        justify-content: center;
    }

    .modal-container {
        width: 250px;
        height: 250px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 250px;
        color: red;
    }


    .fade-in {
        animation: fadeIn ease-out 0.2s;
        -webkit-animation: fadeIn ease-out 0.2s;
        -moz-animation: fadeIn ease-out 0.2s;
        -o-animation: fadeIn ease-out 0.2s;
        -ms-animation: fadeIn ease-out 0.2s;
    }

    @keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
    }

    @-moz-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
    }

    @-webkit-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
    }

    @-o-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
    }

    @-ms-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
    }



</style>