<!-- eslint-disable -->


<template lang="">
    <div class="entry-list-container">
        <div class="px-2 pt-2">
            <input
              type="text"
              class="form-control"
              placeholder="Buscar entrada" 
              v-model="term"
              />
        </div>
    </div>

    <div class="mt-2 d-flex flex-column">
        <button class="btn btn-primary mx-3"
            @click="$router.push({ name:'entry', params:{ id: 'new'} })">
            <i class="fa fa-plus-circle"></i>
            Nueva entrada
        </button>

    </div>


    <div class="entry-scrollarea">
        <Entry
          v-for="entry in entriesByTerm"
          :key="entry.id"
          :entry="entry"
        />
    </div>

</template>

<script>
/* eslint-disable  */
import { defineAsyncComponent } from "vue"
import { mapGetters } from "vuex"; // refencia al getters.js de  src/modules/daybook/store/journal/getters.js


export default {
    
    components : {
        Entry : defineAsyncComponent(() => import ('./Entry.vue'))
    },
    computed: {

        //* * del modulo 'journal' , recuperamos la funcion 'getEntriesByTerm' (sale de 'getters.js') 
        ...mapGetters('journal', ['getEntriesByTerm']),

        entriesByTerm(){


            return this.getEntriesByTerm( this.term )
            
        }
    }, 
    data() {
        return {
            //obj reactivo
            term : ''
        }
    }
}
</script>

<style lang="scss" scoped>
// eslint-disable
input {
    height: 25px;
}

.entry-list-container{
    border-right: 1px solid #2c3e50;
    //height: calc(100vh - 56px);
}

.entry-scrollarea{
    height: calc(100vh - 120px);
    overflow: scroll;
}

</style>
