<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue.js Intro</title>
    
</head>
<body>

    <!-- Vue tiene control absoluto desde este DIV-->
    <div id="myApp">
        <h3> {{ quote }} </h3>
        <blockquote> -{{ author }} </blockquote>


        <button v-on:click="changeQuote">
            Cambiar cita
        </button>

    </div>

    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
</body>
</html>