<!-- eslint-disable  -->

<template>
    <h1>Counter - Vuex </h1>
    <h2> Direct Access : {{ $store.state.counter.count }} </h2>
    <h2> Computed : {{ countComputed }} </h2>

    <button @click="increment">+1</button>
    <button @click="incrementBy">+5</button>
    <!-- <button @click="randomInt" :disabled="isLoading">Random</button> -->
    <button @click="incrementRandomInt" :disabled="isLoading">Random</button>

    <h1>mapState</h1>
    <h2>count: {{ count }}</h2>
    <h2>lastMutation: {{ lastMutation }}</h2>

    <h2>Direct getter: {{ $store.getters['counter/squareCount'] }}</h2>
</template>

<script>
/* eslint-disable  */

//**  contiene muchas propiedades computadas
import { mapState, mapActions } from 'vuex'

export default{
    computed: {
        countComputed(){
            return this.$store.state.counter.count
        },
        // accedemos a los parametros del state para recuperar el valor del store EN TIEMPO REAL
        // solo para el módulo 'counter'
        ...mapState('counter', ['count', 'lastMutation','isLoading']) //* * usando desestructuracion ECMA 6 
        // ...mapState({
        //     count : state => state.count,
        //     lastMutation : state => state.lastMutation
        // })
    },
    methods: {
        increment (){
            //**  Hacemos commit (invocamos) a la mutacion 'increment' (ya definida)
            this.$store.commit('counter/increment')
        },
        incrementBy (){
            this.$store.commit('counter/incrementBy', 5)
            //this.randomInt()
        },
        // solo para el módulo 'counter'
        ...mapActions('counter', ['incrementRandomInt']) //* * usando desestructuracion ECMA 6 


        // ...mapActions('counter', {
        //     randomInt : 'incrementRandomInt'
        // })
    }   


}
</script>